@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
	--clr--background:        #fcfcfc;
	--clr--primary:           #2c3e38;
	--clr--secondary:         #081c1b;
	--clr--accent--primary:   #c8972c;
	--clr--accent--secondary: #c8972c;
	--clr--fnt--primary:      #081c1b;
	--clr--fnt--secondary:    #e6e0d1;

	--tr--slow: .5s;
	--tr:       .3s;
	--tr--fast: .2s;
}

* {
	margin: 0;
	padding: 0;
	font-family: Rajdhani;
	transition: ease-in-out var(--tr);
}
*::before,
*::after { transition: ease-in-out var(--tr); }
html, body { min-height: 100vh; }
html {
	background: var(--clr--primary);
	scrollbar-color: #081c1b #2c3e38; /* TODO: parametrise it!  */
	scrollbar-width: thin;
}
input,
textarea,
button,
select,
a { -webkit-tap-highlight-color: transparent; }
