@media print {
body {
    grid-template-areas:
    	'avatar header'
    	'avatar footer'
        'aside  main  ';
    gap: 0;
}
body > img {
	margin: 0 !important;
	border: solid 15px var(--clr--primary);
	border-radius: 25px;
	width: 220px !important;
}
body > div {
	grid-area: avatar;
	height: 100%;
	max-height: unset;
}
body > div::before,
body > div::after { content: none; }
body > aside { margin-top: var(--w--avatar--before-after); }
body > main { margin-top: var(--w--avatar--before-after); }
}
