@media (max-width: 800px) {
:root {
	--w--avatar: 190px;
	--w--avatar--before-after: 15px;
	--br--avatar: 15px;
}
body {
    grid-template-areas:
    	'avatar header'
        'aside  aside '
        'main   main  '
        'footer footer';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
}
body > img {
	grid-area: avatar;
	margin: var(--w--avatar--before-after);
	border: none;
}
body > div {
	height: 100%;
	max-height: none;
}
body > div::before,
body > div::after { content: none; }
body > .c--main { margin-left: var(--w--avatar--before-after); }
}
